@import "tailwindcss";

@theme {
  --color-brand: #6366f1; /* indigo-500 */
  --color-brand-600: #4f46e5;
  --color-accent: #059669; /* emerald-600 (brighter/stronger) */
  --color-accent-600: #047857; /* emerald-700 for hover */
  --radius-md: 10px;
}
